* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* Primitive Elements */
button {
	cursor: pointer;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:hover {
	// background-color: darkturquoise;
	box-shadow: 0px 0px 0px 0px;
}

.inner-shadow {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

	transition-property: box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}
/* Blocks, elements, modifiers */
// .desktop-wrapper__side-panel {
// 	display: flex;
// 	flex-direction: column;
// 	border: solid red 2px;
// 	background-color: azure;
// 	grid-row: span 2;
// }
.desktop-wrapper {
	display: grid;
	position: sticky;
	grid-template-columns: 0.25fr 1fr;
	grid-template-rows: 100px 20px 1fr;
	height: 100vh;
	background-image: url(./modules/items/ToDoBackground.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #acb3c5;

	&__side-panel {
		display: flex;
		flex-direction: column;
		background-color: #ffd0e080;
		grid-row: span 2;
		padding: 18px 30px 18px 30px;
	}

	&__project-display {
		display: flex;
		justify-content: space-between;
	}

	&__navigation-wrap {
		display: flex;
		grid-column: span 2;
		background-color: #cbecfd80;
		align-content: center;
		justify-content: center;
		font-size: 64px;
	}

	&__main-panel {
		background-color: #f1c3c510;
	}
}

.side-panel {
	&__title {
		font-size: x-large;
		display: flex;
		justify-content: flex-start;
		font-family: Hammersmith One;
		font-size: 20px;
	}

	&__button {
		background-color: #97e0f6;
		border-radius: 5px;
		padding: 4px 0 0 4px;
		margin: 1px 10px 10px 1px;
		font-family: Hammersmith One;
		font-size: 18px;
		font-weight: bold;
	}

	// &__header {
	// }

	// &__project-list-wrapper {
	// }
	&__form {
		display: flex;
		flex-direction: column;
		// 	&__label {
		// 	}
		// 	&__input {
		// 	}
		// 	&__select {
		// 		&__option {
		// 		}
		// 	}
		// 	&__button {
		// 	}
	}

	// &__button-wrapper {
	// 	&__button {
	// 	}
	// }
}

.project-display {
	justify-content: space-between;

	&__header {
		background-color: #d9d9d9bf;
		padding-left: 2rem;
		padding-right: 2rem;
		font-size: 18px;
	}

	&__sort-wrapper {
		z-index: 1;
		display: flex;
		flex-direction: column;

		&__button {
			font-family: Hammersmith One;
			background-color: #d9d9d9bf;
			font-size: 18px;
			width: 70px;
			box-shadow: none;

			&:hover {
				background-color: #d9d9d9;
			}
		}

		&__sort-options {
			display: flex;
			flex-direction: column;

			&--hidden {
				display: none;
			}

			&--shown {
				display: block;
			}
		}
	}
}

.card {
	background-color: #b6d8f3e5;
	font-family: Hammersmith One;
	font-size: 20px;
	display: grid;
	grid-template-columns: 70px 1fr 0.5fr 70px;
	padding: 2px 0 0 2px;
	align-items: center;
	margin: 15px 20px 15px 20px;
	border-radius: 10px;

	&--complete {
		// box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
		background-color: #a2caea;
		transition-property: background-color;
		transition-duration: 0.3s;
		transition-timing-function: ease;
	}
	// TODO modify the below to only apply line through to the title and date headers.
	&--complete > * {
		opacity: 0.8;
		text-decoration: line-through;
		color: #0000009c;
	}

	&__checkbox__section {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-content: center;
		padding: 10px 10px 10px 10px;
		position: relative;

		// TODO Now that you're using icons to denote priority, you can delete the below modifiers.
		// &--priority--high {
		// 	background-color: red;
		// }

		// &--priority--medium {
		// 	background-color: yellow;
		// }

		// &--priority--low {
		// 	background-color: green;
		// }

		&__checkbox {
			opacity: 0;
			position: absolute;
			&--hidden {
				display: none;
			}
			width: inherit;
			height: inherit;
		}
		&__checkbox:checked ~ &__span {
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			// box-shadow: none;
			// background-color: #5089be;
			// background-color: #ffffff;
			// transition-property: background-color;
			// transition-duration: 0.3s;
			// transition-timing-function: ease;
		}

		// Custom checkbox styling
		&__span {
			content: "";
			position: absolute;
			background-color: #b9d5ed;
			border-radius: 50%;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
			height: 25px;
			width: 25px;
			bottom: 0px;
			&--hidden {
				display: none;
			}
			border: solid 0.1px rgba(119, 119, 139, 0.63);
		}
		&__span:hover {
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
		}
	}

	&__title__section {
		padding: 10px 10px 10px 10px;
		background-color: #a2caea;
		// box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
		margin: 10px 0px 10px 0px;
		border: solid 0.1px rgba(119, 119, 139, 0.63);
		// &--inner-shadow {
		// 	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
		// }
		// &--complete {
		// 	box-shadow: none;
		// }
		&__title {
			&--hidden {
				display: none;
			}
		}

		&__form-wrap {
			display: flex;
			flex-direction: column;

			&--hidden {
				display: none;
			}
		}
	}

	&__date__section {
		padding: 10px 10px 10px 10px;
		background: #a2caea;
		// box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
		margin: 10px 0px 10px 0px;
		display: flex;
		justify-content: space-between;
		height: -webkit-fill-available;
		border: solid 0.1px rgba(119, 119, 139, 0.63);
		// &--inner-shadow {
		// 	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
		// }
		// &--complete {
		// 	box-shadow: none;
		// }
		&__icon {
			height: 30px;
			margin: -5px 0px -5px 0px;

			&--hidden {
				display: none;
			}
		}

		&__date {
			&--hidden {
				display: none;
			}
		}

		&--hidden {
			display: none;
		}

		&__container {
			width: -webkit-fill-available;
			padding-right: 10px;
			&--hidden {
				display: none;
			}
			&__header {
				&--hidden {
					display: none;
				}
			}

			&__textarea {
				padding: 5px;
				height: 80%;
				width: 100%;
				&--hidden {
					display: none;
				}
			}
		}
	}

	&__expand__button__section {
		padding: 10px 10px 10px 10px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-end;
		background-color: transparent;
		height: -webkit-fill-available;

		// TODO Now that you're using icons to denote priority, you can delete the below modifiers.
		// &--priority--high {
		// 	background-color: red;
		// }

		// &--priority--medium {
		// 	background-color: yellow;
		// }

		// &--priority--low {
		// 	background-color: green;
		// }

		&__button {
			display: flex;
			justify-content: center;
			background-color: transparent;

			&--hidden {
				display: none;
			}

			width: fit-content;
		}

		&__button-container {
			display: flex;
			flex-direction: column;

			&--hidden {
				display: none;
			}

			&__button {
				background-color: transparent;
			}
		}
	}
}

.card__expand__button__section__button-container > * {
	background-color: transparent;
	margin-top: 8px;
	border-radius: 5px;
}
