* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	// box-sizing: border-box;
}
/* Primitive Elements */
button {
	cursor: pointer;
}

button:hover {
	background-color: darkturquoise;
}
/* Blocks, elements, modifiers */
/* TODO implement Sass or Less to be able to nest the css components. The & will not work without it */
// .desktop-wrapper__side-panel {
// 	display: flex;
// 	flex-direction: column;
// 	border: solid red 2px;
// 	background-color: azure;
// 	grid-row: span 2;
// }
.desktop-wrapper {
	display: grid;
	grid-template-columns: 0.25fr 1fr;
	grid-template-rows: 100px 20px 1fr;
	height: 100vh;
	&__side-panel {
		display: flex;
		flex-direction: column;
		background-color: azure;
		grid-row: span 2;
	}
	&__project-display {
		display: flex;
		justify-content: space-between;
		background-color: yellow;
	}
	&__navigation-wrap {
		grid-column: span 2;
		background-color: bisque;
	}
	&__main-panel {
		background-color: aliceblue;
	}
}
.side-panel {
	&__title {
		font-size: x-large;
		display: flex;
		justify-content: center;
	}
	// &__button {
	// }

	// &__header {
	// }

	// &__project-list-wrapper {
	// }
	&__form {
		display: flex;
		flex-direction: column;
		// 	&__label {
		// 	}
		// 	&__input {
		// 	}
		// 	&__select {
		// 		&__option {
		// 		}
		// 	}
		// 	&__button {
		// 	}
	}

	// &__button-wrapper {
	// 	&__button {
	// 	}
	// }
}
.project-display {
	justify-content: space-between;
	&__header {
		background-color: antiquewhite;
	}
	&__sort-wrapper {
		z-index: 1;
		display: flex;
		flex-direction: column;
		// &__button {
		// }
		&__sort-options {
			display: flex;
			flex-direction: column;
			// position: absolute;
			// &__button {
			// }
			&--hidden {
				display: none;
			}
			&--shown {
				display: block;
			}
		}
	}
}
