* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	// box-sizing: border-box;
}
/* Primitive Elements */
button {
	cursor: pointer;
}

button:hover {
	background-color: darkturquoise;
}
/* Blocks, elements, modifiers */
// .desktop-wrapper__side-panel {
// 	display: flex;
// 	flex-direction: column;
// 	border: solid red 2px;
// 	background-color: azure;
// 	grid-row: span 2;
// }
.desktop-wrapper {
	display: grid;
	grid-template-columns: 0.25fr 1fr;
	grid-template-rows: 100px 20px 1fr;
	height: 100vh;
	&__side-panel {
		display: flex;
		flex-direction: column;
		background-color: azure;
		grid-row: span 2;
	}
	&__project-display {
		display: flex;
		justify-content: space-between;
		background-color: yellow;
	}
	&__navigation-wrap {
		grid-column: span 2;
		background-color: bisque;
	}
	&__main-panel {
		background-color: aliceblue;
	}
}
.side-panel {
	&__title {
		font-size: x-large;
		display: flex;
		justify-content: center;
	}
	// &__button {
	// }

	// &__header {
	// }

	// &__project-list-wrapper {
	// }
	&__form {
		display: flex;
		flex-direction: column;
		// 	&__label {
		// 	}
		// 	&__input {
		// 	}
		// 	&__select {
		// 		&__option {
		// 		}
		// 	}
		// 	&__button {
		// 	}
	}

	// &__button-wrapper {
	// 	&__button {
	// 	}
	// }
}
.project-display {
	justify-content: space-between;
	&__header {
		background-color: antiquewhite;
	}
	&__sort-wrapper {
		z-index: 1;
		display: flex;
		flex-direction: column;
		// &__button {
		// }
		&__sort-options {
			display: flex;
			flex-direction: column;
			&--hidden {
				display: none;
			}
			&--shown {
				display: block;
			}
		}
	}
}

.card {
	&__expand__button__section {
		display: flex;
		justify-content: flex-end;

		&--priority--low {
			background-color: green;
		}
	}
}

.card {
	display: grid;
	grid-template-columns: 100px 1fr 0.5fr 100px;
	padding-bottom: 1px;
	&__checkbox__section {
		border: dotted black 1px;
		&--priority--high {
			background-color: red;
		}

		&--priority--medium {
			background-color: yellow;
		}

		&--priority--low {
			background-color: green;
		}
		&__checkbox {
			&--hidden {
				display: none;
			}
		}
	}
	&__title__section {
		border: dotted green 1px;
		&__title {
			&--hidden {
				display: none;
			}
		}
		&--hidden {
			display: none;
		}
		&__form-wrap {
			display: flex;
			flex-direction: column;
			&--hidden {
				display: none;
			}
		}
	}
	&__date__section {
		border: dotted blue 1px;
		&__date {
			&--hidden {
				display: none;
			}
		}
		&--hidden {
			display: none;
		}
		&__header {
			&--hidden {
				display: none;
			}
		}
		&__textarea {
			height: 80%;
			width: 100%;
			&--hidden {
				display: none;
			}
		}
	}
	&__expand__button__section {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-end;
		background-color: transparent;
		&--priority--high {
			background-color: red;
		}
		&--priority--medium {
			background-color: yellow;
		}
		&--priority--low {
			background-color: green;
		}
		&__button {
			background-color: transparent;
			&--hidden {
				display: none;
			}
			width: fit-content;
		}
		&__button-container {
			display: flex;
			flex-direction: column;

			&--hidden {
				display: none;
			}
			&__button {
				background-color: transparent;
			}
		}
	}
}

.card__expand__button__section__button-container > * {
	background-color: transparent;
}
// <div class="card__expand__button__section card__expand__button__section--priority--low"><button class="card__expand__button__section__button">Expand</button></div>
